* {
  font-family: poppins, monospace;
  color: black;
}

a {
  position: relative;
  text-decoration: none;
  color: black;
}

.paragraph-link {
  color: orange;
}

a:hover {
  position: relative;
  text-decoration: none;
  color: rgb(133, 245, 118);
}

div {
  position: relative;
}

body {
  background-color: bisque;
  padding: 0px;
  margin: 0px;
}

p {
  font-family: poppins, monospace;
  width: 33vw;
  color: black;
}

.blogpost-paragraph {
  font-family: poppins, monospace;
  width: 33vw;
  color: black;
}

h1 {
  font-family: raleway, monospace;
  font-size: 40px;
  color: black;
}

h2 {
  font-family: raleway, monospace;
  font-size: 30px;
  color: black;
}

h3 {
  font-family: raleway, monospace;
  font-size: 18px;
  font-weight: semibold;
  width: 73%;
  color: black;
}

.page-body {
  padding: 1em 3em 3em 3em;
}

.blogpost-container {
  z-index: 1;
  position: relative;
  display: flex;
  margin: auto;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px 16px 16px 16px;
}

.blogs-blog-section {
  padding: 0em 0em 0em 0em;
}

.nav-bar {
  z-index: 5;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  width: 100vw;
  height: 50px;
}

.nav-icon {
  padding: 0.7em;
}

.nav-option {
  padding: 1em;
  font-size: 1em;
  font-family: poppins, monospace;
  text-decoration: none;
}

.home-next-header {
  padding-top: 2em;
}

.blogs-blog-item {
  z-index: 1;
  padding: 1.5em 3em 0.7em 3em;
  margin-top: -3px;
  margin-bottom: -3px;
  border-style: solid;
  border-width: 3px 0px 3px 0px;
  border-color: black;
}

.blogs-blog-item:hover {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.4);
  border-color: rgb(133, 245, 118);
}

.blog-header {
  margin: 0px;
  color: black;
}

.blogpost-header-top-padding {
  padding-top: 40px;
}

.blogpost-image {
  margin: 30px 0px 30px 0px;
  width: 70%;
  height: auto;
  position: relative;
  display: flex;
}

#home-title-text {
  font-family: raleway, monospace;
  font-size: 70px;
  margin: 0.7em;
  margin-top: 1em;
  margin-left: 0em;
}

@media (max-width: 750px) {
  p {
    font-family: poppins, monospace;
    width: 80vw;
  }
  .page-body {
    padding: 0.7em 2.4em 2.4em 2.4em;
  }
  .blogpost-container {
    margin: auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px 10px 10px 10px;
  }
  h3 {
    width: auto
  }
  .blogpost-paragraph {
    font-family: poppins, monospace;
    width: auto;
  }
  .blogpost-image {
    width: 80vw;
  }
}