/* root styles */

/* :root {
  background-color: blue;
} */

a {
  text-decoration: none;
  color: black;
}

body {
  padding: 0px;
  margin: 0px;
}

.nav-bar {
  display: flex;
  background-color: grey;
  position: sticky;
  width: 100vw;
  height: 50px;
}

.icon {
  padding: 0.7em;
}

.nav-option {
  padding: 1em;
  font-family: courier;
  text-decoration: none;
}


/* element styles */

h1 {
  color: green;
}